/*Custom Scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
  transition-duration: 0.5s;
}

/* Track */
::-webkit-scrollbar-track {
  transition-duration: 0.5s;
  background-color: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(112, 112, 112); 
  transition-duration: 0.5s;
  border-radius: 8px;
  width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(204, 204, 204);
  transition-duration: 0.5s;
  cursor: pointer;
}

/* Font */

body {   
    font-family: system-ui;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Heading Classes */

.nodecoration-black {
  text-decoration: none;
  color: black;
  text-decoration-color: transparent;
}

.nodecoration-gray {
  color: rgb(124, 124, 124);
  text-decoration: none;
}

.h3-homenumber {
   text-align: center;
   transition-duration: 3s;
}

.h3-homenumber:hover {
  font-size: 24px;
  transition-duration: 0.3s;
}

.margincenter {
  text-align: center;
  margin: 30px 150px;
}

.center {
  text-align: center;
}

.banner-green {
  padding: 0px 22px;
  color: black;
  transition-duration: 0.5s;
  animation: fadeanddropIn-1 1s;
}

.banner-green:hover {
  color: rgb(0, 209, 45);
  transition-duration: 0.5s;
  cursor: none;
}

.banner-red {
    padding: 0px 22px;
    color: black;
    transition-duration: 0.5s;
    animation: fadeanddropIn-1 1s;
  }
  
.banner-red:hover {
    color: rgb(255, 128, 128);
    transition-duration: 0.5s;
    cursor: none;
  }  

@media all and (max-width: 1100px) {
  .banner-green .banner-red { 
    text-align: left;
    transition-duration: 1s;
    margin: 30px 32px;
  }
}

@media all and (max-width: 500px) {
  .banner-green .banner-red { 
    text-align: center;
    transition-duration: 1s;
  }
}

/* Navigation */
  

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.4s;
    animation: fadeanddropIn 0.5s ease-out forwards;
  }

  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: rgb(0, 156, 0);
    transition-duration: 0.4s;
    transition-property: all;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: rgb(0, 0, 0);
    transition-duration: 0.4s;
    font-weight: 600;
    animation: fadeanddropIn-1 1s;
  }
  
  @media all and (max-width: 1100px) {
    .topnav a {
      text-align: center;
      align-content: center;
      margin: 0px 40px;
      transition-duration: 1s;
      text-justify: distribute;
      animation: fadeanddropIn-3 0.5s;
    }
  }

  @media all and (max-width: 500px) {
    .topnav a { 
      text-align: center;
      width: 70%;
      display: block;
      margin-bottom: 20px;
      transition-duration: 1s;
      animation: fadeanddropIn-3 0.5s;
  }
}


  .topnav a.active:hover {
    color: rgb(146, 146, 146);
    transition-duration: 0.4s;
    transition-property: all;
    cursor: not-allowed;
  }

  .navigation-barimg {
    float: left;
    display: block;
    max-width: 20%;
    max-height: 10%;
    padding: 5.7px 10px;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 3s;
    animation: fadeanddropIn 0.5s ease-out forwards;
  }

  @media all and (max-width: 1100px) {
    .navigation-barimg {visibility: hidden;}
  }
  
  @media all and (max-width: 1100px) {
    .navigation-barimg {display:none;}
  }









  
  
/* HOME HERO */

  .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(Images/heroimage.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Images/heroimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(50%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: relative; 
    font-family: system-ui;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 20px;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    animation: fadeanddropIn-1 1s ease-out forwards;
}
.hero-subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1rem;
    animation: fadeanddropIn-2 1s ease-out forwards;
}

.hero-button {
    background-color: #ff383841;
    color: white;
    border: 10px;
    margin-top: 0.25rem;
    padding: 0.9375rem 1.875rem;
    font-family: system-ui;
    font-size: 1.125rem;
    font-weight: 300;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 8px;
    cursor: none;
    animation: fadeanddropIn-3 1s;
}

.hero-button:hover {
    background-color: #b92424;
    border-color: #b92424;
    border-radius: 16px;
    transition-duration: 0.4s;
    padding: 20px;
}

.hero-button2 {
  background-color: #ff383841;
  color: white;
  border: 10px;
  margin-top: 0.25rem;
  padding: 0.9375rem 1.875rem;
  font-family: system-ui;
  font-size: 1.125rem;
  font-weight: 300;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 8px;
  cursor: none;
  width: 120px;
  text-align: center;
  animation: fadeanddropIn-3 1s;
}

.hero-button2:hover {
  background-color: #b92424;
  border-color: #b92424;
  border-radius: 16px;
  transition-duration: 0.4s;
  padding: 20px;
}

/* Product Card */

* {
    box-sizing: border-box;
  }

  body {
    font-family: system-ui;
  }
  
  /* Float four columns side by side */
  .columncard {
    float: left;
    width: 25%;
    padding: 0 10px;
    transition-duration: 1s;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 10px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 800px) {
    .columncard {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      transition-duration: 1s;
    }
  }

  /* Style the counter cards */
  .card {
    padding: 16px;
    text-align: center;
    background: url(Images/homepage-cards.jpg);
    image-resolution: 2160;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1s;
    border-radius: 8px;
    opacity: 0.5;
  }

  .card:hover {
    opacity: 1;
    transition-duration: 0.5s;
    border-radius: 8px;
  }

  .card-2 {
    padding: 16px;
    text-align: center;
    background: url(Images/homepage-cards1.jpg);
    image-resolution: 2160;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1s;
    border-radius: 8px;
    opacity: 0.5;
  }

  .card-2:hover {
    opacity: 1;
    transition-duration: 0.5s;
    border-radius: 8px;
  }

  .card-3 {
    padding: 16px;
    text-align: center;
    background: url(Images/homepage-cards2.jpg);
    image-resolution: 2160;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1s;
    border-radius: 8px;
    opacity: 0.5;
  }

  .card-3:hover {
    opacity: 1;
    transition-duration: 0.5s;
    border-radius: 8px;
  }

  .card-4 {
    padding: 16px;
    text-align: center;
    background: url(Images/homepage-cards3.jpg);
    image-resolution: 2160;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1s;
    border-radius: 8px;
    opacity: 0.5;
  }
  
  .card-4:hover {
    opacity: 1;
    transition-duration: 0.5s;
    border-radius: 8px;

  }

  @media screen and (max-width: 1200px) {
    .card {
      opacity: 100%;
    }

    .card-2 {
      opacity: 100%;
    }

    .card-3 {
      opacity: 100%;
    }

    .card-4 {
      opacity: 100%;
    }
  }

/*CSS For Description on Index*/

.margincenter-index {
  background-image: url(Images/flower-gallery7.jpeg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 30px 150px;
  transition-duration: 2s;
  text-decoration: none;
}

@media all and (max-width: 1100px) {
  .margincenter-index {
    margin: 20px 100px;
    transition-duration: 0.5s;
    color: black;
  }
  .margincenter-index {
    color: black;
  }
}

@media all and (max-width: 500px) {
  .margincenter-index {
    margin: 10px 30px;
    transition-duration: 0.5s;
    color: black;
  }
  .margincenter-index:hover {
    color: black;
    opacity: 1;
  }
}

.margincenter-index:hover {
  text-align: center;
  color: rgba(0, 0, 0, 0.486);
  transition-duration: 0.3s;
}

/*CSS for Photos on Index*/

.wrapgallery {
  border-color: black;
  border-width: 10px;
}

@media all and (max-width: 1100px) {
  .wrapgallery {
    display: none;
  }
}

div.gallery {
  margin: 8px;
  float: left;
  width: 250px;
  border-radius: 8px;
}

@media all and (max-width: 1100px) {
  div.gallery {
    display: none;
  }
}

  div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition-duration: 1s;
  }

div.gallery img:hover {
  border-radius: 35px;
  transition-duration: 0.5s;
  cursor: none;
}

@media all and (max-width: 1100px) {
  div.gallery img {
    display: none;
  }
}

.margincenter-photos {
  color: black;
  text-decoration: none;
  margin: 10px 10px;
  padding: 0px 17px;
  text-align: right;
  float: right;
  transition-duration: 0.5s;
}

.margincenter-photos:hover {
  color:rgb(188, 44, 255);
  transition-duration: 0.5s;
}

@media all and (max-width: 1100px) {
  .margincenter-photos {
    display: none; transition-duration: 0.5s;
  }
}

@media all and (max-width: 1100px) {
  .margincenter-photos {
    display:none; transition-duration: 0.5s;
  }
}

/*Index Reviews CSS*/

.margincenter-photogallery {
  text-align: center;
  margin: 30px 150px;
  margin: 40px;
}


.reviewrating {
  color: rgb(201, 181, 0);
  transition-duration: 0.5s;
}

.reviewrating:hover {
  color:rgb(0, 0, 0);
  transition-duration: 0.5s;
}

.columnreviews {
  float: left;
  width: 25%;
  padding: 0 10px;
  transition-duration: 1s;
}

/* Responsive columns */
@media screen and (max-width: 800px) {
  .columnreviews {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    transition-duration: 1s;
  }
}

.cardreview1 {
  padding: 16px;
  color: black;
  text-align: center;
  background-color: rgba(146, 146, 146, 0.096) ;
  transition-duration: 1s;
  border-radius: 12px;
}

.cardreview1:hover {
  background-color: rgba(146, 146, 146, 0.37);
  transition-duration: 0.5s;
  border-radius: 13px;
}


/*Footer*/

.footer {
  margin: 80px;
  padding: 0px 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  transition-duration: 1s;
}

@media all and (max-width: 500px) {
  .footer {
    margin: 0px 0px;
  }
}

.footerlink {
  color: black;
  text-decoration: none;
  font-style: italic;
  transition-duration: 1s;
}
